main{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0 1em;
    height: 100%;
    align-content: center;
}

input {
    padding: 0.5em;
    margin: 1em 0;
    font-size: 1em;
    border-radius: 5px;
    border: 1px grey solid;
}

.button-container{
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap :1rem;
    direction: rtl;
}
