.calendar-row{
    display: grid;
    grid-template-columns: 40px 8fr;
    justify-items: flex-start;
}
.calendar-row p{
    padding: 0 1rem;
    margin: 0.2rem;
    text-align: left;
}

.calendar-pagination{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-height: 50px;
    margin: 0 1em 1em 1em;
    align-items: center;
    justify-items: center;
}

.calendar-pagination h2{
    font-size: 24px;
    margin: 0;
}

.calendar-pagination button{
    font-size: 16px;
    font-weight: bold;
    width: 50px;
}