.home-container {
    text-align: center;
    display: grid;
    height: 100%;
    align-content: baseline;
}

.sticky-button{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
}