.home-container {
    display: grid;
    grid-auto-rows: auto 1fr auto;
    height: 100%;
    text-align: center;
    align-content: baseline;
}

.sticky-button{
    padding: 1em;
}

.sticky-button-two{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
