.activity-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: thin lightgray solid;
    margin-top: 1em;
}
.activity-icon{
    font-size: 40px;
    justify-self: center;
    margin: 0 0.5rem;
}
.activity-data{
    display: grid;
    grid-template-columns: 1f;
}
.activity-name{
    margin: 0;
    font-weight: bold;
    text-align: left;
    font-size: 0.8em;
}
.activity-hint{
    text-align: center;
    color: grey;
    margin: 0;
    font-size: 0.6em;
}
.activity-add-one{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:0 0.5em;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5em;
    place-self: center;
    padding-bottom: 4px;
}
.activity-add-one:hover{
    background-color: var(--secondary-color);
}

.activity-edit-button{
    margin:0 0.5em;
}

.activity-edit-button button{
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}