.emoji-container {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-items: center;
}

.dark .emoji-container {
    background-color: var(--dark-bg-color);
}

.close-button-container {
    margin-top: 1em;
}

#icon {
    font-size: 30px;
    background-color: var(--secondary-color);
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 5px;
    text-align: center;
}
