html, body, #root{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16pt;
}

:root {
    --primary-color: #414bb2;
    --secondary-color: #606bd5;
    --scary-color: #FF595E;
    --scary-dark-color: #FF282F;
    --highlight-color: #31e981;
  }
  